/* Reset de estilos para garantir uma base consistente */
body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%; /* Define a largura do cabeçalho como 100% */
}

.logo {
    font-size: 24px;
}
